@font-face {
  font-family: 'dealnews';
  src:url("fonts/dealnews.eot");
  src:url("fonts/dealnews.eot?#iefix") format("embedded-opentype"),
    url("fonts/dealnews.woff") format("woff"),
    url("fonts/dealnews.ttf") format("truetype"),
    url("fonts/dealnews.svg#dealnews") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dealnews' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// .icon {
//   vertical-align: middle;
// }

$icon-dimensions: 1.5rem !default;
$icon-dimensions-small: 1rem !default;
$icon-dimensions-medium: 2rem !default;
$icon-dimensions-large: 3rem !default;

.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: $icon-dimensions;
  width: $icon-dimensions;
  // Sizes
  &.is-small {
    height: $icon-dimensions-small;
    width: $icon-dimensions-small;
  }
    
  &.is-medium {
    height: $icon-dimensions-medium;
    width: $icon-dimensions-medium;
  }
    
  &.is-large {
    height: $icon-dimensions-large;
    width: $icon-dimensions-large;
  }
    
}


.icon-eye:before {
  content: "\65";
}
.icon-trophy:before {
  content: "\74";
}
