.container
	.columns
		//左側info-box
		.column.is-4
			h1 APPLE iPhone 7 PLUS 128GB 紅- APPLE品牌專館專館
			//- 左邊是圖片
			.product-img 
				|
				img(src="images/iphone.jpg", alt="APPLE iPhone 7 PLUS 128GB 紅- APPLE品牌專館專館") 
				|
			//- 右邊是資訊
			.product-info
				.low-price-title 最低價
					h2.shop-name udn買東西
				|
				|
				strong.low-price 39,192
				|
				|
				span.views-info <i class="icon"></i> 17人正在瀏覽
			|
			|
			a(href="#" target="_blank").btn.btn-linkout 前往賣場
		//右側content
		.column.is-8
			.box
				h3.title-box 價格排行榜
				ul.box-body
					li.item
						|
						|
						i(class="icon")
						|
						|
						span 1
						h2.shop-name udn買東西
						|
						|
						strong.low-price 39,192
						|
						|
						a(href="#" target="_blank").btn.btn-linkout 前往賣場



