head
	meta(charset="utf-8")
	- var name = 'DealNews -- EZprice比價網'
	title= name
	meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no")
	meta(name="theme-color", content="#393f4e")
	link(href="/asset/stylesheets/style.css" rel="stylesheet", type="text/css")
	link(href="/asset/images/favicon.png" rel="icon", type="image/png")
